body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eae7e7;
}

h1 {
    color: rgb(36, 36, 176);
}

form {
    
    text-align: center;
    background-color: azure;
    max-width: 400px;
    margin:auto ;
    padding: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(44, 41, 132);
}

#textbox {
    width: 50%;
    text-align: center;
    border: solid rgb(44, 44, 158);
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;

}

button {
    margin-top: 20px;
    background-color: rgb(44, 41, 132);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.2em;

}

button:hover {
    background-color: rgb(36, 36, 77);
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}